<div class="container pb-5">

<form >
   <div class="form-group rounded shadow">

    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" w="35"></textarea>
  </div>
  <button class="btn btn-success padding-bottom-3px rounded shadow"><strong class="padding-bottom: 3px;">Post</strong></button>
</form>

<div class="row row-cols-1 row-cols-md-2 pt-3">
  <div class="col mb-4">
    <div class="card rounded shadow">
      <img src="https://th.bing.com/th/id/OIP.e-75jgPyIXuQtcgNlaf97gHaEK?pid=Api&rs=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4  ">
    <div class="card rounded shadow">
      <img src="https://th.bing.com/th/id/OIP._bLJRO4j-14b3TK1QWdMkQHaD4?pid=Api&rs=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card rounded shadow">
      <img src="https://th.bing.com/th/id/OIP.V4iMlF7TWOiuFQJkMTUGJwHaE7?pid=Api&rs=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card rounded shadow">
      <img src="https://miro.medium.com/max/2796/1*FUZS9K4JPqzfXDcC83BQTw.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <div >
    <a href="https://Google.com/"> Google</a>
  </div>
      </div>
    </div>
  </div>
</div>


</div>
